/* -*- coding: utf-8-unix -*- */

:root {
  --color-background: white;
  --color-link: #3b82f6;
  --color-text: #374151;
  --font-family-monospace: ui-monospace, "SF Mono", "Segoe UI Mono", "Cascadia Code", "Cascadia Mono", "IBM Plex Mono", "Roboto Mono", monospace;
  --font-family-sans-serif: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", "IBM Plex Sans", "Inter UI", "Open Sans", "Noto Sans", "Roboto", sans-serif;
  --font-size-main: 16px;
}

html {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-main);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-main);
  line-height: 1.5rem;
  margin: 0 auto;
  max-width: 36rem;
  padding: 1rem 1rem 5rem 1rem;
  text-align: center;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 6rem;
  margin: 1rem 0;
}

a {
  border-bottom: 2px solid var(--color-link);
  color: var(--color-link);
  text-decoration: none;
}

p {
  margin: 1rem 0;
  text-align: left;
}

footer p {
  margin-top: 2rem;
  opacity: 0.7;
  text-align: center;
}
