/* -*- coding: utf-8-unix -*- */

:root {
  --color-background: white;
  --color-bar:  #93c5fd;
  --color-link: #3b82f6;
  --color-ref:  rgba(239, 68, 68, 0.7);
  --color-text: #374151;
  --font-family-monospace: ui-monospace, "SF Mono", "Segoe UI Mono", "Cascadia Code", "Cascadia Mono", "IBM Plex Mono", "Roboto Mono", monospace;
  --font-family-sans-serif: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", "IBM Plex Sans", "Inter UI", "Open Sans", "Noto Sans", "Roboto", sans-serif;
  --font-size-h1: 4rem;
  --font-size-main: 16px;
  --font-size-monospace: 14px;
  --height-bar: 36px;
  --padding-1: 1rem;
  --padding-2: 2rem;
}

@media (max-width: 600px) {
  :root {
    --font-size-h1: 2.75rem;
    --padding-2: 1rem;
  }
}

html {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-main);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-main);
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 32rem;
  padding: var(--padding-1) var(--padding-1) calc(var(--padding-1) * 2) var(--padding-1);
  text-align: center;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 900;
  line-height: var(--font-size-h1);
  margin: var(--padding-1) 0;
}

a {
  border-bottom: 2px solid var(--color-link);
  color: var(--color-link);
  text-decoration: none;
}

p {
  margin: var(--padding-1) 0;
  text-align: left;
}

.hidden {
  display: none;
}

.tick {
  margin: calc(var(--padding-1) / 2) 0;
  text-align: left;
}

#chart {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

#chart .bar {
  height: var(--height-bar);
}

/* Not the first title, not the first visible title */
#chart .bar.title:not(:first-child):not(.hidden + .bar.title:not(.hidden)) {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

#chart .bar.past-hour {
  opacity: 0.5;
}

#chart .label {
  height: 0;
  line-height: var(--height-bar);
  padding: 0 calc((var(--height-bar) - var(--font-size-main)) / 2);
  position: relative;
  top: calc(var(--height-bar) * -1);
  z-index: 1000;
}

#chart .label.time {
  text-align: left;
}

#chart .label.time.title {
  font-weight: 700;
}

#chart .label.price {
  text-align: right;
}

footer {
  margin-top: var(--padding-2);
  opacity: 0.7;
}

footer p {
  text-align: center;
}
