/* -*- coding: utf-8-unix -*- */

:root {
  --color-background: white;
  --color-bar:  #93c5fd;
  --color-link: #3b82f6;
  --color-text: #374151;
  --font-family-monospace: ui-monospace, "SF Mono", "Segoe UI Mono", "Cascadia Code", "Cascadia Mono", "IBM Plex Mono", "Roboto Mono", monospace;
  --font-family-sans-serif: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", "IBM Plex Sans", "Inter UI", "Open Sans", "Noto Sans", "Roboto", sans-serif;
  --font-size-main: 16px;
  --font-size-monospace: 14px;
  --height-bar: 42px;
}

html {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-main);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-main);
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 36rem;
  padding: 1rem 1rem 5rem 1rem;
  text-align: center;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 5rem;
  margin: 1rem 0;
}

a {
  border-bottom: 2px solid var(--color-link);
  color: var(--color-link);
  text-decoration: none;
}

p {
  margin: 1rem 0;
  text-align: left;
}

#chart {
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 2rem 0;
}

#chart .bar {
  height: var(--height-bar);
}

#chart .bar.title:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

#chart .label {
  height: 0;
  line-height: var(--height-bar);
  padding: 0 9px;
  position: relative;
  top: calc(var(--height-bar) * -1);
  z: 1000;
}

#chart .label.time {
  text-align: left;
}

#chart .label.time.title {
  font-weight: 700;
}

#chart .label.price {
  text-align: right;
}

footer p {
  margin-top: 2rem;
  opacity: 0.7;
  text-align: center;
}
